<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Image</title>
</head>
<body>
    <!--
        <img src = 'Saved.jpg' alt="error in loading image" width="640" height="640">
    -->
    <h1 align="center">Detected people with and without mask</h1>
    <img src="{{url_for('static', filename='Saved.jpg')}}" align="center" width="400" height="400">
</body>
</html>